*{
    /* background-color: rgb(65, 74, 85); */
    display: flex;
}
.title{
    position: absolute;
    left: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 300px;  
}
.descricao{
    display: flex;
    text-align: justify;
    text-align: left;
    /* text-align: center; */
    vertical-align: middle;
    vertical-align: center;
    position: absolute;
    margin-top: 60px;
    left: 900px;
    right: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}
.nav-list{
    position:relative;
    margin-top: 300px;
    text-align:left;
    text-align: center;
    letter-spacing: 2px;
    font-size: small;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

}
.nav-item-vscode{
    position: absolute;
    left: 300px;
    margin-top: 210px;
    font-family: 'Times New Roman', Times, serif;
    /* border: 1px solid black; */
    width: 200px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 12px;
    z-index: 2;
}
.nav-item-figma{
    position: absolute;
    left: 900px;
    margin-top: 210px;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    background-color: #000000;
    color: white;
    border-radius: 12px;
    z-index: 2;
}
.nav-item-mysql{
    position: absolute;
    left: 1580px;
    margin-top: 200px; 
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
    color: white;
    border-radius: 15px;
    width: 165px;
    z-index: 2;
}
.quadrado{
    height:350px;
    width: 1800px;
    background-color: aliceblue;;;
    position: absolute;
    margin-top: 15px;
    left: 30px;
    border-radius: 25px;
    border: 3px solid black;
}
.img1{
    width: 500px;
    border: 2px solid black;
    height: 33vh;
    margin-top: 450px;
    position: absolute;
    left: 20px;
    border-radius: 25px;
    background-color: aliceblue;
}
.img2{
    position: absolute;
    border: 2px solid black;
    height: 250px;
    width: 500px;
    margin-top: 450px;
    left: 610px;
    background-color:aliceblue;;
    border-radius: 25px;
}
.img3{
    position: absolute;
    border: 2px solid black;
    width: 560px;
    height: 250px;
    margin-top: 450px;
    left: 1200px;
    background-color: aliceblue;;
    border-radius: 25px;
}
.titulo1{
    border-bottom: 2px solid black;
    width: 350px;
    /* height: 35vh; */
    position: absolute;
    left: -260px;
    margin-top: -50px;
    color: #000000;
}
.titulo2{
    width: 80px;
    /* height: 35vh; */
    position: absolute;
    left: -50px;
    margin-top: -50px;
    color: #000000;
    border-bottom: 2px solid black;
}
.titulo3{
    width: 190px;
    /* height: 35vh; */
    position: absolute;
    left: -360px;
    margin-top: -40px;
    color: #000000;
    border-bottom: 2px solid black;

}
body {
    background-color: rgb(28, 74, 92); 
    color: #000000; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    
}
.img4{
    width: 198px;
    height: 250px;
    position: absolute;
    z-index: 2;
    left: 650px;
    margin-top: 70px;
    /* border-radius: 30%; */
    border: 2px solid black;
}
.icon1{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 250px;
    left: 585px;
}
.instagram{
    position: absolute;
    margin-top: 40px;
    left: -15px;

}
.icon2{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 160px;
    left: 580px;
}
.linkedin{
    position: absolute;
    margin-top: 50px;
    left: -15;
}
.gif1{
    position:absolute;
    width: 220px;
    height: 220px;
    margin-top: 75px;
    left: 33px;
}
.gif2{
    position: absolute;
    width: 220px;
    height: 220px;
    left: 1676px;
    margin-top: 75px;    
}